._54as{border:1px solid;border-color:#dddfe2}._54aq{color:#90949c;font-size:11px;line-height:15px}._1shx{display:block;height:auto;max-width:100%}

#bootloader_bmINr{height:42px;}.bootloader_bmINr{display:block!important;}