body {
  background-color: #2a2a2a;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Indie Flower', cursive;
  color: white;
}
#wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  margin-bottom: 25px;
}

span {
    text-decoration: line-through;
}

.rows, #outputArea {
  text-align: center;
}

#board div {
  border: 2px solid white;
  margin: 2px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
}

#board div:hover {
  background-color: beige;
}

button:hover {
  background-color: grey;
}

#resultDiv {
  color: white;
  padding: 25px;
  font-family: 'Courier New', cursive;
  font-size: 1em;
  font-weight: bold;
}

.x {
  background-image: url("../images/Xicon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.o {
  background-image: url("../images/O.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

footer {
  color: white;
  text-align: center;
  padding-top: 30px;
}

footer a {
  text-decoration: none;
  color: gold;
}

footer a:hover {
  color: orange;
}

button {
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #2a2a2a;
    /*color: #2a2a2a;*/
    color: white;
}

#xScore, #oScore {
  display: inline;
  margin: 0 50px;
  font-family: 'Courier New', cursive;
  font-size: 1.75em;
  font-weight: bold;
}



/**** Using media-query to make responsive for smaller screen *****/
@media (max-width: 55em) {
    #wrapper {
      width: 100%;
      margin: 0;
    }

    h1 {
      font-size: 2.5em;
      margin: 15px 0;
    }

    #resultDiv {
      font-size: 1em;
      padding: 25px 10px;
    }

    #xScore, #oScore {
      margin: 0 20px;
      display: block;
    }

    button {
      color: white;
      margin: 20px 0;
    }
}

/*if screen goes even smaller*/
@media (max-width: 374px) {

    #board div {
      width: 73px;
      height: 73px;
    }

    #xScore, #oScore {
      display: block;
    }

    h1 {
      font-size: 1.5em;
    }

    button {
      margin: 20px 0;
    }
}
