body {
  background-color: #2a2a2a;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

.rows, #outputArea {
  text-align: center;
}

#board div {
  border: 2px solid white;
  margin: 2px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
}

#resultDiv {
  color: white;
  padding: 30px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  font-weight: bold;
}

/*.rows {
  display: block;
}*/

/*.inputDiv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/

.x {
  background-image: url("../images/Xicon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color: red;*/
}

.o {
  background-image: url("../images/O.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color: blue;*/
}
